.reset__pass__main .reset__text {
    color: #193566;
    font-size: 2rem;
}
.reset__pass__main .header__img {
    width: 180px;
    margin: auto;
}
.reset__pass__main .header__img img {
    height: auto;
    width: 100%;
} 
.reset__pass__main .form input {
    padding: 19px;
    border-radius: 25px;
    background-color: rgba(236, 240, 243, 255);
    box-shadow: -5px -4px 3px 0px rgba(255, 255, 255, 0.425) inset,
    5px 4px 3px 0px rgba(88, 88, 88, 0.425) inset;
}

.reset__pass__main .form .btn-submit {
    width: 28%;
    display: block;
    padding: 15px 0;
    font-weight: 500;
    border: none;
    border-radius: 2rem;
    font-size: 1.5rem;
    color: #193566;
    background-color: rgba(236, 240, 243, 255);
    margin: auto;
    box-shadow: -5px -4px 3px 0px rgba(255, 255, 255, 0.425),
    5px 4px 3px 0px rgba(88, 88, 88, 0.425);
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.reset__pass__main .form input:focus {
    border: none;
    outline: none;
}
.reset__pass__main form label {
    font-size: 1.2rem;
    color: #85898e;
}
@media (max-width: 578px) {
    .reset__pass__main .reset__text {
        font-size: 1.5rem;
    }
    .reset__pass__main .form .btn-submit {
        width: 50%;
        margin-bottom: 1.2rem !important;
    }
    .reset__pass__main .header__img {
        width: 115px;
    }
}